*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    display:flex;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

/* ASIDE */

aside{
    /* padding-left:3vw; */
    background-color: #1f1e1e;
    color: white;
    width: 18vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}

.tira{
    background-color:#8F0505;
    width: 1vw;
}

a{
    color: white;
    text-decoration: none;
}

.menu{
    margin-top: 10vh;
    padding-left:1.6vw;
    width: 100%;
    height: 20vh;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.menu img{
    width: 1.2vw;
    height: 2.5vh;
    margin-right: 10px;
}

.line{
    margin-top: 6vh;
    width: 90%;
    height: 0.1px;
    background-color: white;
}

.conta{
    margin-top: 6vh;
    padding-left:1.6vw;
    width: 100%;
    height: 8vh;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

.conta img{
    width: 1.2vw;
    height: 2.5vh;
    margin-right: 1vw;
}

aside h1{
    font-size: 2rem;
    font-weight: 600;
    padding-top: 10vh;
    padding-left:2vw;
}

/* BODY */
.lista{
    width: 86%;
    padding: 1%;
    background-color: #f1f1f1;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.professores{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.lista h2{
    margin-left:2.5rem;
}

.card{
    width: 16%;
    height:40vh;    
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-right:4rem;
    margin-top: 1.5rem;
    /* border: solid 1px black; */
}

.prof{
    height:30vh;
    background-color: #a6a6a6;
    padding: 3%;
    /* border: solid 1px red; */
}

.prof img{
    width: 100%;
    height: 22vh;
}

button{
    width: 70%;
    height: 4vh;
    border-radius: 0.5rem;
    text-align: center;
    display: block;
    background: #a6a6a6;
    color: black;
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
}

.botao{
    width: 70%;
    height: 4vh;
    border-radius: 0.5rem;
    text-align: center;
    display: block;
    background: #a6a6a6;
    color: black;
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
}

.botao a{
    color: #1f1e1e;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
}

/* POPUP */

.popup-wrapper{
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.popup{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width:100%;
    max-width: 400px;
    height: 40vh;
    margin: 10% auto;
    padding: 5px;
    background: white;
    position: relative;
}

.popup-content{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}

.popup a{
    color: white;
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
    text-decoration: none;
    background: #8F0505;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.popup-close{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;

}